@import url(/style/header.css);
@import url(/style/title-desing.css);


*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    scroll-behavior:smooth;
}

main{
    height: 100vh;
    background-image: url(./images/background/student.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main header{
    height: 2.3rem;
    position:sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

section.presentation{
    background-color: rgba(0, 0, 0, 0.492);
    height: calc(100% - 2.3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation_container{
    height: 100%;
    max-width: 40rem;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff8f8;
    gap: 1rem;
    padding: 1rem;

}

.presentation_container p{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.9;
}

.presentation_container .app-access{
    margin-top: 2rem;
}